html, body{
    margin: 0;
    padding: 0;
    height: 100%;
}

body{
    font: 18px "Open Sans", sans-serif;
    background-color: #171717;
    color: #171717;

    display: flex;
    justify-content: center;
    align-items: center;
}

#emoji {
    width: 30vw;
    height: 30vw;
}